<h1>{{title}}</h1>
<button *ngIf="!isAuthenticated" (click)="login()">Login</button>
<button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
<nav>
  <a routerLink="/protected">Protected Component</a>
</nav>
<router-outlet></router-outlet>
